div.gchart {
  padding: 15px;
}

div.no-padding {
  padding: 0;
}

table {
  width: 100%;
  text-align: right;
}

table .thead-dark {
  text-align: center;
}

div.card.tableContainer {
  overflow: auto;
  margin-bottom: 5px;
}